<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Management</title>
    <script  type="text/javascript" src="../public/js/serverManagement.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
    <style>body { padding: 50px 0; }</style>

    <!-- js -->
    <!-- load the dependencies -->
    
    <!-- load our angular app with systemjs -->
    
</head>
<body class="container">

    <div>
        <header>
        <h2> Manage Servers</h2>
        <img src="../public/css/images/settings-work-tool.svg" id = "img" height="15" width="15" />
        </header>
        
        <section>
            <nav>
                Server List
                <select id="serverList">
                    <option>Vsphere 1</option>
                    <option>VSpehere 2</option>
                </select>
            </nav>
            
        
        <article>
            <form id="serverDetails" onsubmit="handleSubmit(this); return false;">
                <label for="Stack Name">Stack Name</label>
                <input type="text" name="Stack Name"/>
                <br>
                <label for="password">password</label>
                <input type="text" name="password">
                <br>
                <label for="VSphere server">VSphere server</label>
                <input type="text" name="VSphere server">
                <br>
                <label for="Project working directory">Project working directory</label>
                <input type="text" name="Project working directory">
                <br>
                <button style="">Save</button>
            </form>
        </article>
    </section>
        
    </div>

</body>
</html>