<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Server Management</title>


    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    <!-- js -->
    <script type="text/javascript" src="../public/js/manageBtns.js"></script>
    <!-- load the dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- load our angular app with systemjs -->

</head>

<body class="container">

    <div class="allContainer">
        <header>
            <h2> Manage Servers</h2>
            <span class="icon">
                <img src="../public/img/open-iconic-master/svg/home.svg" class="imgicons" alt="home">
                <img src="../public/img/open-iconic-master/svg/cog.svg" class="imgicons" alt="settings">
                <img src="../public/img/open-iconic-master/svg/power-standby.svg" class="imgicons" alt="logoff">

            </span>

        </header>

        <section>

            <nav>
                <select class="serverList1">
                    <option value="" disabled selected>Select Remote Site</option>
                    <option>Vsphere 1</option>
                    <option>VSpehere 2</option>
                </select>
                </br>
                <select class="serverList1">
                    <option value="" disabled selected>Select Template</option>
                    <option>Vsphere 1</option>
                    <option>VSpehere 2</option>
                </select>
            </nav>

            
            <article>
            
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Plan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                            aria-selected="false">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                            aria-selected="false">Destroy</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="accContainer" id="accBody">
                            <button class="accordion">Networking</button>
                            <div class="accordion-content">
                                <select class="serverList"  id="selectNetwork" required>
                                    <option value="" disabled selected>Select Network</option>
                                    <option>RL 1</option>
                                    <option>RL 2</option>
                                </select>

                                <select class="serverList" id="selectAdapter" required> 
                                    <option value="" disabled selected>Select Adapter</option>
                                    <option>Vsphere 1</option>
                                    <option>VSpehere 2</option>
                                </select>

                            </div>
                            <button class="accordion">Storage</button>
                            <div class="accordion-content">
                                <select class="serverList" id="selectData" required>
                                    <option value="" disabled selected>Select Data Store</option>
                                    <option>US East</option>
                                    <option>N. Virginia</option>
                                </select>

                                <select class="serverList" id="selectHdd" required>
                                    <option value="" disabled selected>Select Hard Disks</option>
                                    <option>HDD 1</option>
                                    <option>SSD 2</option>
                                </select>
                            </div>
                            <button class="accordion">Compute</button>
                            <div class="accordion-content">
                                <select class="serverList" id="selectOsFam" required>
                                    <option value="" disabled selected>Select OS Family</option>
                                    <option>Fedora</option>
                                    <option>CentOS</option>
                                </select>
                                <select class="serverList" id="selectOs" required>
                                    <option value="" disabled selected>Select OS</option>
                                    <option>Redhat</option>
                                    <option>Ubuntu</option>
                                </select>
                                <select class="serverList" id="selectCpu" required>
                                    <option value="" disabled selected>Select CPU</option>
                                    <option>Intel i7</option>
                                    <option>Intel i8</option>
                                </select>
                                <select class="serverList" id="instanceCount" required> 
                                    <option value="" disabled selected>Instance Count</option>
                                    <option>Vsphere 1</option>
                                    <option>VSpehere 2</option>
                                </select>
                            </div>
                            <button class="actionBtn" id="planNext" type="submit"> Next</button>
                            <button class="actionBtn"> Cancel</button>
                        </div>

                    </div>

                    <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="summary">
                            <h1><span>Summary</span></h1>
                            <p class="networkText" id="networkSum">Network : </p>
                            <p class="networkText" id="adapterSum">Network Adapter :</p>
                            <p class="networkText" id="dataStoreSum">Data Store :</p>
                            <p class="networkText" id="osSum">OS :</p>
                        </div>
                        <span class="teButns">
                            <button class="cBtns" id="testBtn">Test</button>
                            <button class="cBtns" id="execBtn">Execute</button>
                        </span>

                        <div class="output">
                            <h1><span>Output</span></h1>
                            <pre style="border : 0px; background-color: white ; padding: 0px; " id="shellOutput"></pre>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">Et et
                        consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat
                        veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                        Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud
                        minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt
                        tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing
                        reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex....</div>
                </div>

                </form>
            </article>

        </section>

    </div>

</body>

</html>